.col-md-8{
    text-align: left;
    color: darkorange;
    margin-top: 20px;
}

.botoes{
    text-align: left;
    margin-top: 10px;
}
.btn-primary{
    margin-left: 20px;
}

.loginCadastro{
    color: white;
    border-radius: 20px 20px;
    background-color:slateblue;
}
.loginCadastro:hover{
    color: white;
    border-radius: 20px 20px;
    background-color:orangered;
}
