.btn-editable{
    color: white;
    margin-left: 10px;
    font-size: 15px;
    border-radius: 20px 20px;
    background-color: orange;
    border-color: orangered;
}
.btn-editable:hover{
    background-color:orangered;
    border-color: orange;
}

.btn-editable-fechar{
    color: white;
    margin-left: 10px;
    font-size: 15px;
    border-radius: 20px 20px;
    background-color: orangered;
    border-color: orange;
}
.btn-editable-fechar:hover{
    background-color:rgb(209, 17, 10);
    border-color: orange;
    color: white;

}
